@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
*{
    padding: 0;
    margin: 0;
}



.error_text{
    color: #220A2E;
    text-align: center;
    font-size: 3vh;
    margin-top: 5px;
}
.img_error_404{
    width: 60%;
}
.div_error_page{
    display: flex;
    justify-content: center;align-items: center;
}