@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
*{
    padding: 0;
    margin: 0;
}
*,
*::before,
*::after {
  box-sizing:content-box !important;
}




@media (max-width:400px) {
    .video_in_swiper{
        width: 300px !important;
        height: 500px !important;
    }
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
    content: none !important;
}
.swiper-button-prev, .swiper-rtl .swiper-button-next{
   background: url("./media/image/Polygon\ 1.png") !important; 
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after{
    content: none !important;
}
.swiper-button-next,.swiper-rtl .swiper-button-prev{
    background: url("./media/image/Polygon\ 1.png") !important; 
    transform: rotate(180deg);
}



.header_stranisa_ikki{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #3A2D53;
    gap: 20px;
}
.header_ikki_img{
    width: 51.875vw;
height: 46.302vw;
margin-top: 40px;
margin-bottom: 30px;
margin-left: -80px;
}
.header_ikki_db{
    display: block;
    text-align: center;
}
.header_ikki_db .header_date_div{
    width: 311px;
height: 76px;
margin-bottom: 4vw !important;
display: flex;
justify-content: center;
text-align: center;
margin: auto;
align-items: center;
border-radius: 50px;
border: 2px solid #FFF;
}
.header_date_div .db_date{
    width: 280px;
height: 34px;
margin-bottom: 0px;
color: #FFF;
text-align: center;
font-family: 'PT Sans Caption', sans-serif;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: 102.3%; 
}
.db_inside_master{
   width: 280px;
height: 34px;
color: #FFF;
text-align: center;
font-family: 'PT Sans Caption', sans-serif;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: 102.3%;
}
.db_jenwina_card{
    color: #FFF;
text-align: right;
font-family: 'Bad Script', cursive;
font-size: 5vw;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.db_btn_zakas{
    width: 437px;
height: 91px;
margin-top: 60px;   
border-radius: 29px;
border: none;
background: #FDBA1A;
color: #271845;
text-align: center;
font-family: 'PT Sans Caption', sans-serif;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
cursor: pointer;
}

@media (max-width:1200px) {
    .header_ikki_img{
        margin-left: 0px;
    }
    .header_date_div{
        width: 200px !important; 
        height: 40px !important;
        margin-bottom: 40px !important;
    }
    .header_date_div p{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px !important;
    }
    .db_inside_master{
        font-size: 20px;
    }
    .db_btn_zakas{
        width: 200px;
        height: 50px;
        font-size: 16px;
        border-radius: 10px;
        margin-top: 40px;
    }
}
@media (max-width:550px) {
    .header_stranisa_ikki{
        gap: 0px;
    }
    .db_inside_master{
        font-size: 12px;
    }
    .header_date_div{
        width: 31.250vw
        !important; 
        height: 6.250vw !important;
    }
    .header_date_div p{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.500vw
        !important;
    }
    .db_jenwina_card{
        font-size: 6.250vw;
    }
    .db_btn_zakas{
        width: 31.250vw;
        height: 6.250vw;
        font-size: 2.500vw;
        border-radius: 10px;
        margin-top: 3vw;
    }
}







.header_ikki_uzun{
    background: #F5F2ED;
    padding-top: 9.671vw;
    padding-bottom: 9.671vw ;

}
.cards_vlublenniye{
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 5.158vw;
    width: 85%;
    border-radius: 4.965vw;
background: #220A2E;
margin-bottom: 30px;
}
.vlublenniye_img{
    width: 37.073vw;
    height: 30.561vw;
    margin-top: -9.220vw;
    margin-bottom: -5.158vw;
}
.vlublenniye_text{
    color: #FFF;
font-family: 'PT Sans Caption', sans-serif;
font-size: 1.934vw;
font-style: normal;
font-weight: 700;
}
@media (max-width:500px) {
    .cards_vlublenniye{
        display: block;
        justify-content: center;
    }
    .vlublenniye_img{
        width: 90%;
        height: auto;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .vlublenniye_text{
        font-size: 4vw;
    }
}





.excusriya_text{
    display: flex;
    justify-content: center;
    margin-top: 4.688vw;
    color: #220A2E;
text-align: right;
font-family: 'Bad Script', cursive;
font-size: 6vw;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.header_excursiya{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 2.604vw;
    gap: 2.604vw;
    padding-bottom: 2.083vw;
}
.excursiya_big_card{
z-index: 123;
}
.excursiya_circle_card{
    width: 23.229vw;
height: 23.229vw;
display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;
background: #FFF;
}
.excursiya_circle_img_one{
    margin-top: -2.604vw;
    width: 23.490vw;
height: 19.896vw;
}
.excursiya_circle_img_two{
    margin-top: -1.042vw;
    margin-left: 2.083vw;
    width: 25.104vw;
height: 21.354vw;
}
.excursiya_circle_img_three{
    margin-top: -3.125vw;
    width: 27.344vw;
height: 23.646vw;
}
.line_dashed_img{
    position: absolute;
    left: 20.5%;
    top: 0px;
    width: 54.792vw;
height: 445.23.192vw;
}
.excursiya_circle_text{
    color: #271845;
text-align: center;
font-family: 'PT Sans Caption', sans-serif;
font-size: 1.979vw;
font-style: normal;
font-weight: 700;
}

@media (max-width:500px) {
    .line_dashed_img{
        display: none;
    }
    .excusriya_text{
        font-size: 35px;
    }
    .excursiya_circle_card{
        width:300px ;
        height: 300px;
    }
    .excursiya_circle_img_one{
        width: 80%;
        height: 80%;
    }
    .excursiya_circle_img_two{
        width: 90%;
        height: 80%;
    }
    .excursiya_circle_img_three{
        width: 100%;
        height: 90%;
    }
    .excursiya_circle_text{
        font-size: 20px;
        margin-bottom: 20px;
    }
}






.family_text{
    display: flex;
    justify-content: center;
    margin-top: 4.688vw;
    color: #220A2E;
text-align: center;
font-family: 'Bad Script', cursive;
font-size: 6vw;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.header_ikki_uzun .header_family_card{
    width: 87%;
    padding: 2.604vw;
    padding-right: 5.208vw;
    margin-bottom: 2.917vw !important;
    gap: 0.833vw;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    border-radius: 4.010vw;
    background: #A886B9;
}
.family_img_one{
width: 39.948vw;
height: 33.958vw;
margin-top: -8.1vw;
margin-bottom: -10.417vw;
border-radius: 3.646vw;
}
.family_db{
    display: block;
    text-align: center;
}
.family_db_name{
    margin-top: -2vw;
    color: #FFF;
text-align: center;
font-family: 'Bad Script', cursive;
font-size: 4.5vw;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.family_db_text{
    /* margin-top: -1.042vw; */
    color: #FFF;
text-align: center;
font-family: 'PT Sans Caption', sans-serif;
font-size: 2.1vw;
font-style: normal;
font-weight: 700;
line-height: 2.240vw;
}
.header_family_card_two{
    width: 87%;
    padding: 2.604vw;
    padding-right: 5.208vw;
    margin-bottom: 3.917vw !important;
    gap: 0.833vw;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    border-radius: 4.010vw;
    background: #A886B9;
}
.family_db_name_db{
    margin-top: 1vw;
    color: #FFF;
text-align: center;
font-family: 'Bad Script', cursive;
font-size: 4vw;
font-style: normal;
font-weight: 400;
line-height: normal;
line-height: 4vw;
}
.family_db_text_db{
    margin-top: 1vw !important;
    margin-bottom: .5vw !important;
    width: 80%;
    margin: auto;
    color: #FFF;
text-align: center;
font-family: 'PT Sans Caption', sans-serif;
font-size: 2.1vw;
font-style: normal;
font-weight: 700;
line-height: 2.240vw;
}
.family_img_two{
    width: 31.719vw;
height: 25.771vw;
margin-top: -9.8vw;
margin-bottom: -4.1vw;
/* margin-right: 50px; */
border-radius: 3.646vw;
}
.family_db_two {
margin-left: -5.208vw;
}
.family_img_three{
    width: 40.948vw;
    height: 35vw;
    margin-top: -12vw;
    margin-left: 3.646vw;
    margin-bottom: -7.2vw;
    border-radius: 3.646vw;
}
.family_db_name_db_two{
    color: #FFF;
text-align: center;
font-family: 'Bad Script', cursive;
font-size: 4vw;
font-style: normal;
font-weight: 400;
line-height: normal;
line-height: 4vw;
}
.family_db_text_db_two{
    margin-top: 1vw !important;
    width: 80%;
    margin: auto;
    color: #FFF;
text-align: center;
font-family: 'PT Sans Caption', sans-serif;
font-size: 2.1vw;
font-style: normal;
font-weight: 700;
line-height: 2.240vw;
}
.family_db_three{
    margin-right: -2.604vw;
}
.family_db_text_db_three{
    margin-top: 1vw !important;
    width: 85%;
    margin: auto;
    color: #FFF;
text-align: center;
font-family: 'PT Sans Caption', sans-serif;
font-size: 2.1vw;
font-style: normal;
font-weight: 700;
line-height: 2.240vw;
}
.header_family_card_three{
    width: 87%;
    padding: 2.604vw;
    padding-right: 5.208vw;
    margin-bottom: 10.917vw !important;
    gap: 0.833vw;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    border-radius: 4.010vw;
    background: #A886B9;
}
@media (max-width: 500px){
    .family_text {
        font-size: 35px;
    }
    
    .header_family_card_three{
        margin-bottom: 110vw !important;
    }
    }




.header_mix_df{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.854vw;
    margin-bottom: 7.604vw;
    margin-top: -13.417vw;
}
.mix_card{
    width: 24.896vw;
height: 23.958vw;
padding: 2.083vw;
text-align: center;
border-radius: 4.010vw;
background: #CAC2DA;
transition: all .3s ease;
cursor: pointer;
}
.mix_card:hover{
    background: #FDBA1A;
}
.mix_img{
    width: 6.719vw;
height: 6.719vw;
}
.mix_name{
    color: #271845;
text-align: center;
font-family: 'Bad Script', cursive;
font-size: 4.208vw;
font-style: normal;
font-weight: 400;
line-height: 6.208vw;
}
.mix_text{
    width: 80%;
    margin: auto;
color: #FFF;
text-align: center;
font-family: 'PT Sans Caption', sans-serif;
font-size: 2vw;
font-style: normal;
font-weight: 700;
}
.mix_narx{
    margin-top: 1.042vw;
    color: #FFF;
text-align: center;
font-family: 'PT Sans Caption', sans-serif;
font-size: 2.500vw;
font-style: normal;
font-weight: 700;
line-height: 3.125vw;
}
.mix_date{
    margin-top: 1.563vw;
    color: #FFF;
text-align: center;
font-family: 'PT Sans Caption', sans-serif;
font-size: 2.500vw;
font-style: normal;
font-weight: 700;
}
@media (max-width:500px) {
    .header_mix_df{
        margin-top: -110vw;
        flex-wrap: wrap;
        gap: 3.854vw;
    }
    .mix_card{
        width: 260px;
        height: 280px;
        padding: 20px;
    }
    .mix_img{
        width: 100px;
        height: 100px;
    }
    .mix_name{
        font-size: 40px;
        line-height: normal;
    }
    .mix_text{
        font-size: 18px;
    }
    .mix_narx{
        margin-top: 30px;
        font-size: 26px;
        line-height: normal;
    }
    .mix_date{
        margin-top: 30px;
        font-size: 26px;
        line-height: normal;
    }
}





.probudijenwinu_text{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 4.688vw;
    color: #220A2E;
font-family: 'Bad Script', cursive;
font-size: 6vw;
font-style: normal;
font-weight: 400;
line-height: 5.208vw;
}
.header_probudijenwinu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5.208vw;
}
.duwa_jenwini_img{
    width: 45.354vw;
height: 45.146vw;
margin-left: 3vw;
margin-top: 5.208vw;
}
.duwa_jenwini_df{
    text-align: center;
}
.text_duwa{
    color: #271845;
text-align: center;
font-family: 'PT Sans Caption', sans-serif;
font-size: 1.667vw;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.name_duwa{
    margin-top: 1.563vw;
    color: #FDBA1A;
    text-align: center;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 2vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.inp_name{
    width: 39.688vw;
height: 5.208vw;
margin-top: 3.125vw;
border-radius: 1.302vw;
padding-inline: 1.042vw;
border: 0.260vw solid #E1E1E1;
background: #FFF;
color: #271845;
font-family: 'PT Sans Caption', sans-serif;
font-size: 1.667vw;
font-style: normal;
font-weight: 700;
line-height: normal;
outline: none;
}
.inp_number{
    width: 39.688vw;
    height: 5.208vw;
    margin-top: 1.563vw;
    border-radius: 1.302vw;
    padding-inline: 1.042vw;
    border: 0.260vw solid #E1E1E1;
    background: #FFF;
    color: #271845;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 1.667vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    outline: none;
}
.btn_duwa{
    width: 24.115vw;
height: 4.740vw;
margin-top: 4.688vw;
border-radius: 1.510vw;
background: #FDBA1A;
border: none;
color: #271845 !important;
text-align: center;
font-family: 'PT Sans Caption', sans-serif;
font-size: 1.367vw;
font-style: normal;
font-weight: 700;
line-height: normal;
cursor: pointer;
}
@media (max-width:500px) {
    .probudijenwinu_text {
        margin-top: 50px;
        font-size: 35px;
        line-height: 40px;
    }
    .duwa_jenwini_img{
        display: none;
    }
    .duwa_jenwini_df{
        margin-top: 30px;
        display: block;
    }
    .text_duwa{
        font-size: 14px;
    }
    .name_duwa{
        margin-top: 30px;
        font-size: 20px;
    }
    .inp_name{
        width: 90%;
        height: 40px;
        margin-top: 30px;
        padding-inline: 10px;
        border-radius: 10px;
        font-size: 12px;
    }
    .inp_number{
        width: 90%;
        height: 40px;
        margin-top: 15px;
        padding-inline: 10px;
        border-radius: 10px;
        font-size: 12px;
    }
    .btn_duwa{
        width: 95%;
        height: 40px;
        border-radius: 10px;
        font-size: 14px;
    }
}








.header_master{
    background: #FFF7EE;
    padding-top: 4.688vw;
}
.master_cards{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 0.521vw;
}
.master_card{
    margin: auto;
    margin-top: -2.604vw;
}
.master_class{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 4.688vw;
    color: #220A2E;
font-family: 'Bad Script', cursive;
font-size: 5vw;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.master_janna{
    color: #FDBA1A;
text-align: center;
font-family: 'PT Sans Caption', sans-serif;
font-size: 6vw;
font-style: normal;
font-weight: 700;
line-height: 3.646vw;
}
.master_ul{
    margin-top: 1.563vw;
    margin-left: 0.521vw;

}
.master_li{
display: flex;
align-items: center;
justify-content: left;
margin-left: 5.208vw;
list-style: none;
}
.master_ul .li_dot{
    width: 0.260vw;
    height: 0.260vw;
    margin-top: 0   vw;
    margin-left: 0.781vw ;
    margin-right:  0.260vw;
    border-radius: 50%;
    background: #FDBA1A;
}
.master_li .master_text{
    padding-top: 0.521vw;
    font-size: 2vw;
    color: #220A2E;
font-size: 2.500vw;
font-style: normal;
font-weight: 700;
    font-family: 'PT Sans Caption', sans-serif;
    line-height: 4.646vw;
    cursor: pointer;
}
.master_img{
    width: 32.552vw;
height: 37.031vw;
margin: auto;
margin-left: -2.604vw;
}
.master_happiness{
    margin-top: 60px;
    color: #220A2E;
text-align: center;
font-family: 'PT Sans Caption', sans-serif;
font-size: 3.333vw;
font-style: normal;
font-weight: 700;
}
.master_btn_div{
    display: flex;
    justify-content: center;
margin-top: 2.604vw;
padding-bottom: 5vw;
}
.master_btn_zakas{
    width: 22.760vw;
height: 4.740vw;
border-radius: 1.510vw;
background: #FDBA1A;
border: none;
color: #271845;
font-family: 'PT Sans Caption', sans-serif;
font-size: 1.5vw;
font-style: normal;
font-weight: 700;
line-height: normal;
cursor: pointer;
}
.accordion-item{
    width: 80% !important;
    margin: auto;
    border-radius: 30px !important;
}
.accordion-button{
    width: 100% !important;
}
.accordion-header{
    margin-bottom: -1px !important ;
}
.accordion-button{
    box-sizing: border-box !important;
}
.collapsed{
    box-sizing: border-box !important;
}
@media (max-width:500px) {
    .master_btn_zakas{
        width: 80%;
        height: 30px;
        border-radius: 10px;
        font-size: 12px;
    }
    .master_cards{
        display: block;
    }
    .master_class{
        font-size: 26px;
    }
    .master_janna{
        font-size: 32px;
    }
    .master_card{
        margin: auto !important;
    }
    .master_ul{
        width: 70%;
        text-align: center !important;
        margin-top: 30px !important;
        margin: auto;
        /* margin-left: 15vw; */
    }
    .li_dot{
        width: 2px !important;
        height: 2px !important;
        margin-top: 10px !important;
        margin-right: 3px !important;
        margin: auto;
    }
    .master_text{
        font-size: 16px !important;
    }
    .master_img{
        display: flex;
        justify-content: center;
        text-align: center !important;
        margin: auto !important;
        width: 60%;
        height: auto;
    }
    .master_happiness{
        margin-top: 20px !important;
        font-size: 14px !important;
    }
}
/* @media (max-width:1000px) {
    .master_li .li_dot{
        display: none ;
    }
} */


.main_swipers1{
    padding-top: 1vw;
    background: url("./media/image/Слой\ 1\ 4.png");
    background-repeat: no-repeat;
    background-size: cover;
    user-select: none;
}
.main_otziv_name1{
    color: #000;
    text-align: center;
    font-family: 'Bad Script', cursive;
    font-size: 7.292vw;
    font-style: normal;
    font-weight: 400;
    margin-top: 1vw;
    margin-bottom: -2vw;
}


.main_swipers{
    position: relative;
    padding-top: 1vw;
    text-align: center;
    background: #220A2E;
    user-select: none;
}
.main_stars1{
    width: 20.365vw;
height: 17.240vw;
    position: absolute;
    top: 20px;
    right: 0px;
}
.main_stars2{
    width: 33.365vw;
height: 17.240vw;
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.main_otziv_name{
    color: #fff;
    text-align: center;
    font-family: 'Bad Script', cursive;
    font-size: 7.292vw;
    font-style: normal;
    font-weight: 400;
    margin-top: 1vw;
    margin-bottom: -2vw;
}
.swiper-pagination-horizontal{
    display: none;
}
.swiper-slide-active{
/* height: 38.458vw !important; */
    opacity: 1 !important;
    scale: 0.8 !important;
    margin: auto;
    text-align: center;
}
.swiper-button-next , .swiper-button-prev{
    color: #FDBA1A !important; 
}
.swiper-slide{
    scale: 0.7;
    /* height: 34.458vw !important; */
    opacity: 0.5;
}
@media (max-width:500px) {
    .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after{
        font-size: 20px !important;
    }
    .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
        font-size: 20px !important;
    }
    
}
.img_into_footer{
    text-decoration: none;
    list-style: none;
}





.header_otziv{
    padding-top: 2.604vw;
    padding-bottom: 2.604vw;
    background: #220A2E;
    position: relative;
}
.otziv_name{
    color: #FFF;
text-align: center;
font-family: 'Bad Script', cursive;
font-size: 6vw;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.swiper-container{
    width: 100%;
}
.otziv_star_img_one{
    position: absolute;
    top: 7.813vw;
    right: 0px;
}
.otziv_star_img_two{
    position: absolute;
    bottom: 0px;
}
.otziv_btn{
    width: 22.760vw;
height: 4.740vw;
margin-top: 4.688vw;
margin-bottom: 5vw;
border-radius: 1.510vw;
background: #FDBA1A;
border: none;
color: #271845;
font-family: 'PT Sans Caption', sans-serif;
font-size: 1.5vw;
font-style: normal;
font-weight: 700;
line-height: normal;
cursor: pointer;
}
/* .swiper-horizontal {
margin-top: -100px;
margin-bottom: -100px;
} */
@media (max-width:800px) {
    .swiper-slide img{
        scale: .9;
    }
    .swiper-wrapper{
        height: 700px !important;
    }
    .swiper-slide-active{
        /* height: 38.458vw !important; */
            opacity: 1 !important;
            scale: 0.8 !important;
            margin: auto;
            text-align: center;
        }
        .swiper-slide{
            scale: 0.5;
            /* height: 34.458vw !important; */
            opacity: 0.5;
        }
        .accordion-body{
            font-size: 1.667vw;
        }
}
@media (max-width:500px) {
    .swiper-slide-active{
        /* height: 38.458vw !important; */
            opacity: 1 !important;
            scale: 0.5 !important;
            margin: auto;
            text-align: center;
        }
        .swiper-slide{
            scale: 0.4;
            /* height: 34.458vw !important; */
            opacity: 0.5;
        }
        .swiper-wrapper{
            margin-top: -100px;
            margin-bottom: -100px;
        }
        .main_otziv_name {
            font-size: 46px;
        }
        .otziv_btn{
            width: 200px !important;
            height: 40px !important;
            font-size: 18px;
        }
}
.swiper-slide-active{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width:630px) {
    .swiper-slide img{
        scale: .7;
        /* margin-top: -80px; */
    }
    .swiper-wrapper{
        height: 600px !important;
    }
}
@media (max-width:500px) {
    .swiper-slide img{
        scale: .5;
    }
}













.product_h2{
    font-family: 'Bad Script', cursive;
    color: #fff;
    text-align: center;
    /* margin-top: 2.604vw; */
    font-size: 4.167vw;
    z-index: 99999;
  }

  .answer_to_question{
    position: relative;
    background-color: #220A2E;
    /* margin-bottom: 2.604vw; */
    padding-top: 3vw;
    padding-bottom: 2.604vw;
  }

  .kichkina_div_question{
    background-color: #fff;
    margin-top: 1.042vw;
    width: 70%;
    margin-left: 15%;
    height: 1.563vw;
    border-radius: 1.042vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.042vw;
    z-index: 123;

  }
  .text_question{
    color: #220A2E;
    font-size: 1.302vw;
  }


  .text_center_question{
    text-align: center;
    color: #fff;
    font-size: 1.667vw;
    margin-top: 2.563vw;
font-family: 'PT Sans Caption', sans-serif;

  }
  .but_ostavit_zayav{
    width: 22.760vw;
    height: 4.740vw;
    margin-top: 3.125vw;   
    border-radius: 1.510vw;
    border: none;
    background: #FDBA1A;
    color: #271845;
    text-align: center;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 1.667vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
  }
  .div_for_button_in_question{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sloy32{
    width: 20.365vw;
height: 17.240vw;
    position: absolute;
    top: 1.042vw;
    right: 0px;
}
.sloy35{
    width: 33.365vw;
height: 17.240vw;
    position: absolute;
    bottom: 18vw;
    left: 0px;
}
  .kichkinaro_div_question{
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 1.042vw;
  }
  .accordion-item h2{
    background-color: #220A2E;;
    
  }

 .accordion-item button{
    width: 70.573vw;
    height: 5vw;
    position: relative;
    margin-top: 30px !important;
    border-radius: 1.042vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding-left: 1.042vw;
    padding-right: 4.5vw;
    z-index: 123;
    outline: none;
    border-radius: 1.302vw !important;
border: 0.260vw solid #E1E1E1;
background: #FFF;
color: #271845;
font-family: 'PT Sans Caption', sans-serif;
font-size: 1.667vw;
font-style: normal;
font-weight: 700;
line-height: normal;

  }
  .accordion-body{
    /* width: 65.573vw;  */
    margin-top: -20px !important;
    padding: 20px;
    padding-top: 40px !important;
    margin: auto;
    background: #fff;
    border-bottom-left-radius: 1.302vw !important;
    border-bottom-right-radius: 1.302vw !important;
  }
  .accordion-item{
    border-radius: 30px;
  }
  .accordion-body{
    border-bottom-left-radius: 30px !important;
    border-bottom-right-radius: 30px !important;
  }
  .bx-plus{
    position: absolute;
    display: flex;
    align-items: center;
    right: 11vw;
    font-size: 5.167vw;
color: #271845;
z-index: 123;
  }
  .logo_in_footer{
    width: 9.635vw;
height: 3.333vw;
  }
@media (max-width:500px) {
    .product_h2{
        font-size: 30px !important;
    }
    .but_ostavit_zayav{
        width: 80% !important;
        height: 30px !important;
        font-size: 14px !important;
    }
    .text_center_question{
        font-size: 12px !important;
    }
    .accordion-item button{
        width: 100% !important; 
        font-size: 10px !important;
    }
    .accordion-body{
        margin-top: -30px !important;
        padding: 10px !important;
        font-size: 8px !important;
    }
}





  .footer{
    width: 90%;
margin-top: 5.208vw !important;
border-radius: 3.542vw;
background: #331644;
display: flex;
padding:3.083vw;
gap: 4.688vw;
margin: auto;
  }
  .a_href_in_footer{
    display: flex;
    align-items: center;
    gap: 1.354vw;
    margin-top: 1.563vw;
    margin-bottom: 1.563vw;
  }
  .text_into_a_href{
    text-decoration: none;
    color: #FFF;
font-family: 'PT Sans Caption', sans-serif;
font-size: 1.667vw;
font-style: normal;
font-weight: 700;
line-height: normal;
  }
  .img_into_footer{
    display: flex;
    align-items: center;
    gap: 1.302vw;
  }
  .div_kishkina_into_footer2{
    display: block;
    margin: auto;
  }
  .footer_text{
    color: rgba(255, 255, 255, 0.50);
font-family: 'PT Sans Caption', sans-serif;
font-size: 1.667vw;
font-style: normal;
font-weight: 700;
line-height: 1.563vw;
margin-bottom: 0px;
  }
  .img_in_footer{
    width: 2.396vw;
height: 2.396vw;
  }
  .futer_text{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.50);
  }

  @media (max-width:450px) {
    .footer{
      display: flex !important;
    }
    .logo_in_footer{
        width: 70% !important;
        height: auto !important;
    }
    .a_href_in_footer{
        width: 30% !important;
        display: block !important;
    }
    .text_into_a_href{
        font-size: 14px !important;
        line-height: 25px !important;
    }
    /* .div_kishkina_into_footer2{
        width: 30%;
    } */
    .futer_text{
        font-size: 14px !important;
        line-height: 20px;
    }
  }



  .accordion-button::after{
    content: none !important;
    background: url("./media/image/+.png") !important;
  }
  .accordion-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .accordion_plus{
/* display: flex; */
  }