@font-face {
    font-family: "SignPainter";
    src: url("./fonts/signpainter_housescript.otf") format("truetype");
    /* Другие свойства шрифта, такие как font-weight и font-style */
  }
  @font-face {
    font-family: "AGOpusHighResolution";
    src: url("./fonts/agopushighresolution_boldoblique.ttf") format("truetype");
    /* Другие свойства шрифта, такие как font-weight и font-style */
  }

  
*{
    padding: 0;
    margin: 0;
}





.page5_header_contact{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F8F8F8;
    padding-top: 3.646vw;
    padding-bottom: 4vw;
    gap: 2.604vw;
}
.contact_img{
    width: 53.542vw;
height: 36.302vw;
margin-left: -3.646vw;
}
.page5_contact_db{
    text-align: center;
    margin-top: -4.167vw;
}
.contact_name{
    color: #271845;
    text-align: center;
    font-family: "SignPainter", sans-serif;
    font-size: 4.208vw;
    font-style: normal;
    font-weight: 400;
    line-height: 6.208vw;
}
.contact_text{
    color: #271845;
text-align: center;
font-family: 'PT Sans Caption', sans-serif;
font-size: 2vw;
font-style: normal;
font-weight: 700;
margin-top: 2.5vw;
}
.contact_btn{
    width: 20.115vw;
    height: 4.540vw;
    margin-top: 5.988vw;
    margin-bottom: 30px;
    border-radius: 1.510vw;
    background: #FDBA1A;
    border: none;
    color: #271845 !important;
    text-align: center;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 1.367vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}








.header_master{
    background: #FFF7EE;
    padding-top: 4.688vw;
    padding-bottom: 5vw;
}
.master_cards{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 0.521vw;
}
.master_card{
    margin: auto;
    margin-top: -2.604vw;
}
.master_class{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 4.688vw;
    color: #220A2E;
font-family: "SignPainter", sans-serif;
font-size: 5vw;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.master_janna{
    color: #FDBA1A;
text-align: center;
font-family: 'PT Sans Caption', sans-serif;
font-size: 6vw;
font-style: normal;
font-weight: 700;
line-height: 3.646vw;
}
.master_ul{
    margin-top: 1.563vw;
    margin-left: 0.521vw;

}
.master_li{
display: flex;
align-items: center;
justify-content: left;
margin-left: 5.208vw;
list-style: none;
}
.master_ul .li_dot{
    width: 0.260vw;
    height: 0.260vw;
    margin:1.042vw 0.781vw 0.260vw 0.260vw;
    border-radius: 50%;
    background: #FDBA1A;
}
.master_li .master_text{
    padding-top: 0.521vw;
    font-size: 2vw;
    color: #220A2E;
font-size: 2.500vw;
font-style: normal;
font-weight: 700;
    font-family: 'PT Sans Caption', sans-serif;
    line-height: 4.646vw;
    cursor: pointer;
}
.master_img{
    width: 32.552vw;
height: 37.031vw;
margin: auto;
margin-left: -2.604vw;
}







.header_phone{
text-align: center;
margin: auto;
position: relative;
}

.phone_name{
    color: #271845;
    text-align: center;
    font-family: "SignPainter", sans-serif;
    font-size: 4.208vw;
    font-style: normal;
    font-weight: 400;
    line-height: 6.208vw;
    margin-top: 5vw;
}
.phone_btn img{
    width: 6.250vw;
height: 6.250vw;
}
.phone_btn{
    width: 56.250vw;
height: 11.042vw;
border: none;
border-radius: 4.167vw;
background: #FDBA1A;
color: #FFF;
gap: 3.542vw;
margin: auto;
margin-top: 1.042vw;
display: flex;
justify-content: center;
align-items: center;
font-family: 'PT Sans Caption', sans-serif;
font-size: 4.688vw;
font-style: normal;
font-weight: 700;
}
.phone_text{
    color: #271845;
    text-align: center;
    font-family: "SignPainter", sans-serif;
    font-size: 4.208vw;
    font-style: normal;
    font-weight: 400;
    line-height: 6.208vw;
    margin-top: 7vw;
}
.social_df{
    margin-bottom: 15.625vw;
    width: auto;
}
.social_df img{
    width: 8vw;
height: 8vw;
}
.phone_telegram{
    margin-right: 2.344vw;
}
.phone_watsap{
    margin-left: 2.344vw;
    margin-right: 2.344vw;
}
.phone_youtube{
    margin-left: 2.344vw;
    margin-right: 2.344vw;
}
.phone_instagram{
    margin-right: 2.344vw;
}
.phone_star_top{
    position: absolute;
    right: 1.042vw;
}
.phone_star_bottom{
    position: absolute;
    bottom: -10.417vw;
    left: 2.604vw;
}
@media (max-width:690px) {
    .phone_star_top, .phone_star_bottom{
        display: none;
    }
}








.header_page3_molochniy{
    padding-top: 0.521vw;
    padding-bottom: 1.521vw;
    background-color: #FFF7EE;

}
.probudijenwinu_text{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 4.688vw;
    color: #220A2E;
font-family: "SignPainter", sans-serif;
font-size: 6vw;
font-style: normal;
font-weight: 400;
line-height: 5.208vw;
}
.header_page3_probudijenwinu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5.208vw;
}
.duwa_jenwini_img{
    width: 45.354vw;
height: 45.146vw;
margin-left: 3vw;
margin-top: 5.208vw;
}
.duwa_jenwini_df{
    text-align: center;
}
.text_duwa{
    color: #271845;
text-align: center;
font-family: 'PT Sans Caption', sans-serif;
font-size: 1.667vw;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.name_duwa{
    margin-top: 1.563vw;
    color: #FDBA1A;
    text-align: center;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 2vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.inp_name{
    width: 39.688vw;
height: 5.208vw;
margin-top: 3.125vw;
border-radius: 1.302vw;
padding-inline: 1.042vw;
border: 0.260vw solid #E1E1E1;
background: #FFF;
color: #271845;
font-family: 'PT Sans Caption', sans-serif;
font-size: 1.667vw;
font-style: normal;
font-weight: 700;
line-height: normal;
outline: none;
}
.inp_number{
    width: 39.688vw;
    height: 5.208vw;
    margin-top: 1.563vw;
    border-radius: 1.302vw;
    padding-inline: 1.042vw;
    border: 0.260vw solid #E1E1E1;
    background: #FFF;
    color: #271845;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 1.667vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    outline: none;
}
.btn_duwa{
    width: 24.115vw;
height: 4.740vw;
margin-top: 4.688vw;
border-radius: 1.510vw;
background: #FDBA1A;
border: none;
color: #271845 !important;
text-align: center;
font-family: 'PT Sans Caption', sans-serif;
font-size: 1.367vw;
font-style: normal;
font-weight: 700;
line-height: normal;
cursor: pointer;
}

.swiper-pagination-horizontal{
    display: none;
}
.swiper-slide-active{
/* height: 38.458vw !important; */
    opacity: 1 !important;
    scale: 0.8 !important;
    margin: auto;
    text-align: center;
}
.swiper-button-next , .swiper-button-prev{
    color: #FDBA1A !important; 
}
.swiper-slide{
    scale: 0.7;
    /* height: 34.458vw !important; */
    opacity: 0.5;
}
@media (max-width:500px) {
    .probudijenwinu_text {
        margin-top: 50px;
        font-size: 35px;
        line-height: 40px;
    }
    .duwa_jenwini_img{
        display: none;
    }
    .duwa_jenwini_df{
        margin-top: 30px;
        display: block;
    }
    .text_duwa{
        font-size: 14px;
    }
    .name_duwa{
        margin-top: 30px;
        font-size: 20px;
    }
    .inp_name{
        width: 90%;
        height: 40px;
        margin-top: 30px;
        padding-inline: 10px;
        border-radius: 10px;
        font-size: 12px;
    }
    .inp_number{
        width: 90%;
        height: 40px;
        margin-top: 15px;
        padding-inline: 10px;
        border-radius: 10px;
        font-size: 12px;
    }
    .btn_duwa{
        width: 95%;
        height: 40px;
        border-radius: 10px;
        font-size: 14px;
    }
}



.footer{
    width: 90%;
margin-top: 5.208vw !important;
border-radius: 3.542vw;
background: #331644;
display: flex;
padding:3.083vw;
gap: 4.688vw;
margin: auto;
  }
  .a_href_in_footer{
    display: flex;
    align-items: center;
    gap: 1.354vw;
    margin-top: 1.563vw;
    margin-bottom: 1.563vw;
  }
  .text_into_a_href{
    text-decoration: none;
    color: #FFF;
font-family: 'PT Sans Caption', sans-serif;
font-size: 1.667vw;
font-style: normal;
font-weight: 700;
line-height: normal;
  }
  .img_into_footer{
    display: flex;
    align-items: center;
    gap: 1.302vw;
  }
  .img_into_footer{
    text-decoration: none;
    list-style: none;
}
  .div_kishkina_into_footer2{
    display: block;
    margin: auto;
  }
  .footer_text{
    color: rgba(255, 255, 255, 0.50);
font-family: 'PT Sans Caption', sans-serif;
font-size: 1.667vw;
font-style: normal;
font-weight: 700;
line-height: 1.563vw;
  }
  .img_in_footer{
    width: 2.396vw;
height: 2.396vw;
  }
  .futer_text{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.50);
  }
  .logo_in_footer{
    width: 9.635vw;
height: 3.333vw;
  }
  @media (max-width:500px) {
    .logo_in_footer{
        width: 18.137vw;
        height: 6.275vw;
    }
  }