@font-face {
    font-family: "SignPainter";
    src: url("./fonts/signpainter_housescript.otf") format("truetype");
    /* Другие свойства шрифта, такие как font-weight и font-style */
  }
  @font-face {
    font-family: "AGOpusHighResolution";
    src: url("./fonts/agopushighresolution_boldoblique.ttf") format("truetype");
    /* Другие свойства шрифта, такие как font-weight и font-style */
  }

  
*{
    padding: 0;
    margin: 0;
}




.page4_header_glavniy{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10.417vw;
    padding-top: 4.167vw;
    padding-bottom: 3.5vw;
}
.glavniy_img{
    width: 40.260vw;
height: 42.396vw;
margin-left: -5.208vw;
}
.page4_glavni_name{
    text-align: center;
    display: block;
}
.glavni_name{
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 4.688vw;
        color: #220A2E;
    font-family: "SignPainter", sans-serif;
    font-size: 6vw;
    font-style: normal;
    font-weight: 400;
    line-height: 5.208vw;
}
.glavni_text{
    margin-top: 0.521vw;
    color: #271845;
text-align: center;
font-family: 'PT Sans Caption', sans-serif;
font-size: 2vw;
font-style: normal;
font-weight: 700;
line-height: 2vw;
}












.header_master{
    background: #FFF7EE;
    padding-top: 4.688vw;
    padding-bottom: 5vw;
}
.master_cards{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 0.521vw;
}
.master_card{
    margin: auto;
    margin-top: -2.604vw;
}
.master_class{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 4.688vw;
    color: #220A2E;
font-family: "SignPainter", sans-serif;
font-size: 5vw;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.master_janna{
    color: #FDBA1A;
text-align: center;
font-family: 'PT Sans Caption', sans-serif;
font-size: 6vw;
font-style: normal;
font-weight: 700;
line-height: 3.646vw;
}
.master_ul{
    margin-top: 1.563vw;
    margin-left: 0.521vw;

}
.master_li{
display: flex;
align-items: center;
justify-content: left;
margin-left: 5.208vw;
list-style: none;
}
.master_ul .li_dot{
    width: 0.260vw;
    height: 0.260vw;
    margin:1.042vw 0.781vw 0.260vw 0.260vw;
    border-radius: 50%;
    background: #FDBA1A;
}
.master_li .master_text{
    padding-top: 0.521vw;
    font-size: 2vw;
    color: #220A2E;
font-size: 2.500vw;
font-style: normal;
font-weight: 700;
    font-family: 'PT Sans Caption', sans-serif;
    line-height: 4.646vw;
    cursor: pointer;
}
.master_img{
    width: 32.552vw;
height: 37.031vw;
margin: auto;
margin-left: -2.604vw;
}






.page4_big_div{
    background: #FCF9F4;
    padding-top: 4.688vw;
    text-align: center;
}

.excusriya_text_page4{
    display: flex;
    justify-content: center;
    color: #220A2E;
text-align: center;
font-family: "SignPainter", sans-serif;
font-size: 6vw;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.header_excursiya{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 2.604vw;
    gap: 2.604vw;
    padding-bottom: 2.083vw;
}
.excursiya_big_card_page4{
z-index: 123 !important;
text-align: center;
margin-top: 20px;
}
.excursiya_circle_card_page4{
    width: 23.229vw;
height: 23.229vw;
display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;
background: rgba(253, 186, 26, 0.20);;
}
.excursiya_circle_img_one{
    margin-top: -2.604vw;
    width: 23.490vw;
height: 19.896vw;
}
.excursiya_circle_img_two{
    margin-top: -1.042vw;
    margin-left: 2.083vw;
    width: 25.104vw;
height: 21.354vw;
}
.excursiya_circle_img_three{
    margin-top: -3.125vw;
    width: 27.344vw;
height: 23.646vw;
}
.excursiya_circle_img_four{
    width: 23.542vw;
    height: 20vw;
    margin-top: 1.042vw;
}
.excursiya_circle_img_five{
    width: 29.427vw;
    height: 19.896vw;
}
.excursiya_circle_img_olti{
    width: 27.656vw;
    height: 23.281vw;
    margin-top: -1.563vw;
    margin-left: 1.563vw;
}

.line_dashed_img{
    position: absolute;
    left: 20.5%;
    top: 1.302vw;
    width: 54.792vw;
height: 445.23.192vw;
}
.line_dashed_img_page4{
    position: absolute;
    left: 20.5%;
    top: 1.302vw;
    width: 54.792vw;
height: 445.23.192vw;
}
.excursiya_circle_text{
    color: #271845;
text-align: center;
font-family: 'PT Sans Caption', sans-serif;
font-size: 1.979vw;
font-style: normal;
font-weight: 700;
}
.excursiya_btn_page4{
    width: 18.365vw;
height: 3.5vw;
margin-top: 1.042vw;
border-radius: 3.125vw;
border: 0.104vw solid #271845;
background: #FCF9F4;
color: #220A2E;
text-align: center;
font-family: 'PT Sans Caption', sans-serif;
font-size: 1.575vw;
font-style: normal;
font-weight: 700;
cursor: pointer;
}
.page4_excursiya_btn{
    width: 24.115vw;
height: 4.740vw;
margin-top: 4.688vw;
margin-bottom: 30px;
border-radius: 1.510vw;
background: #FDBA1A;
border: none;
color: #271845 !important;
text-align: center;
font-family: 'PT Sans Caption', sans-serif;
font-size: 1.367vw;
font-style: normal;
font-weight: 700;
line-height: normal;
cursor: pointer;
}
@media (max-width:500px) {
    .line_dashed_img{
        display: none;
    }
    .line_dashed_img_page4{
        display: none;
    }
    .excusriya_text_page4{
        font-size: 20px;
    }
    .excursiya_circle_card_page4{
        width:300px ;
        height: 300px;
    }
    .excursiya_circle_img_one{
        width: 90%;
        height: 80%;
    }
    .excursiya_circle_img_two{
        width: 90%;
        height: 80%;
    }
    .excursiya_circle_img_three{
        width: 100%;
        height: 90%;
    }
    .excursiya_circle_img_four{
        width: 90%;
        height: 80%;
    }
    .excursiya_circle_img_five{
        width: 110%;
        height: 80%;
    }
    .excursiya_circle_img_olti{
        width: 100%;
        height: 90%;
    }
    .excursiya_circle_text{
        font-size: 20px;
        margin-bottom: 20px;
    }
    .excursiya_btn_page4{
        width: 80%;
        height: 35px;
        font-size: 14px;
        border-radius: 20px;
    }
    .page4_excursiya_btn{
        width: 60%;
        height: 35px;
        border-radius: 10px;
        font-size: 16px;
        margin-bottom: 50px;
    }
}




.header_page3_molochniy{
    padding-top: 0.521vw;
    padding-bottom: 1.521vw;
    background-color: #FFF7EE;

}
.probudijenwinu_text{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 4.688vw;
    color: #220A2E;
font-family: "SignPainter", sans-serif;
font-size: 6vw;
font-style: normal;
font-weight: 400;
line-height: 5.208vw;
}
.header_page3_probudijenwinu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5.208vw;
}
.duwa_jenwini_img{
    width: 45.354vw;
height: 45.146vw;
margin-left: 3vw;
margin-top: 5.208vw;
}
.duwa_jenwini_df{
    text-align: center;
}
.text_duwa{
    color: #271845;
text-align: center;
font-family: 'PT Sans Caption', sans-serif;
font-size: 1.667vw;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.name_duwa{
    margin-top: 1.563vw;
    color: #FDBA1A;
    text-align: center;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 2vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.inp_name{
    width: 39.688vw;
height: 5.208vw;
margin-top: 3.125vw;
border-radius: 1.302vw;
padding-inline: 1.042vw;
border: 0.260vw solid #E1E1E1;
background: #FFF;
color: #271845;
font-family: 'PT Sans Caption', sans-serif;
font-size: 1.667vw;
font-style: normal;
font-weight: 700;
line-height: normal;
outline: none;
}
.inp_number{
    width: 39.688vw;
    height: 5.208vw;
    margin-top: 1.563vw;
    border-radius: 1.302vw;
    padding-inline: 1.042vw;
    border: 0.260vw solid #E1E1E1;
    background: #FFF;
    color: #271845;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 1.667vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    outline: none;
}
.btn_duwa{
    width: 24.115vw;
height: 4.740vw;
margin-top: 4.688vw;
border-radius: 1.510vw;
background: #FDBA1A;
border: none;
color: #271845 !important;
text-align: center;
font-family: 'PT Sans Caption', sans-serif;
font-size: 1.367vw;
font-style: normal;
font-weight: 700;
line-height: normal;
cursor: pointer;
}

.swiper-pagination-horizontal{
    display: none;
}
.swiper-slide-active{
/* height: 38.458vw !important; */
    opacity: 1 !important;
    scale: 0.8 !important;
    margin: auto;
    text-align: center;
}
.swiper-button-next , .swiper-button-prev{
    color: #FDBA1A !important; 
}
.swiper-slide{
    scale: 0.7;
    /* height: 34.458vw !important; */
    opacity: 0.5;
}
@media (max-width:500px) {
    .probudijenwinu_text {
        margin-top: 50px;
        font-size: 35px;
        line-height: 40px;
    }
    .duwa_jenwini_img{
        display: none;
    }
    .duwa_jenwini_df{
        margin-top: 30px;
        display: block;
    }
    .text_duwa{
        font-size: 14px;
    }
    .name_duwa{
        margin-top: 30px;
        font-size: 20px;
    }
    .inp_name{
        width: 90%;
        height: 40px;
        margin-top: 30px;
        padding-inline: 10px;
        border-radius: 10px;
        font-size: 12px;
    }
    .inp_number{
        width: 90%;
        height: 40px;
        margin-top: 15px;
        padding-inline: 10px;
        border-radius: 10px;
        font-size: 12px;
    }
    .btn_duwa{
        width: 95%;
        height: 40px;
        border-radius: 10px;
        font-size: 14px;
    }
}









.product_h2{
    font-family: "SignPainter", sans-serif;
    color: #fff;
    text-align: center;
    /* margin-top: 2.604vw; */
    font-size: 4.167vw;
    z-index: 99999;
    padding-top: 1.563vw;
  }

  .answer_to_question{
    background-color: #220A2E;
    /* margin-bottom: 2.604vw; */
    padding-bottom: 2.604vw;
    position: relative;
  }
  .kichkina_div_question{
    background-color: #fff;
    margin-top: 1.042vw;
    width: 70%;
    margin-left: 15%;
    height: 1.563vw;
    border-radius: 1.042vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.042vw;
    z-index: 123;

  }
  .text_question{
    color: #220A2E;
    font-size: 1.302vw;
  }


  .text_center_question{
    text-align: center;
    color: #fff;
    font-size: 1.667vw;
    margin-top: 2.563vw;
font-family: 'PT Sans Caption', sans-serif;

  }
  .but_ostavit_zayav{
    width: 22.760vw;
    height: 4.740vw;
    margin-top: 3.125vw;   
    border-radius: 1.510vw;
    border: none;
    background: #FDBA1A;
    color: #271845;
    text-align: center;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 1.667vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
  }
  .div_for_button_in_question{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sloy32{
    width: 20.365vw;
height: 17.240vw;
    position: absolute;
    top: 1.042vw;
    right: 0px;
}
.sloy35{
    width: 33.365vw;
height: 17.240vw;
    position: absolute;
    bottom: 18vw;
    left: 0px;
}
  .kichkinaro_div_question{
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 1.042vw;
  }
  .accordion-item h2{
    background-color: #220A2E;;
    
  }

 .accordion-item button{
    width: 70.573vw;
    height: 5vw;
    position: relative;
    margin-top: 30px !important;
    border-radius: 1.042vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding-left: 1.042vw;
    padding-right: 4.5vw;
    z-index: 123;
    outline: none;
    border-radius: 1.302vw !important;
border: 0.260vw solid #E1E1E1;
background: #FFF;
color: #271845;
font-family: 'PT Sans Caption', sans-serif;
font-size: 1.667vw;
font-style: normal;
font-weight: 700;
line-height: normal;

  }
  .accordion-body{
    /* width: 65.573vw;  */
    padding: 1.042vw;
    /* display: flex; */
    /* align-items: center; */
    margin: auto;
    border-bottom-left-radius: 1.302vw;
    border-bottom-right-radius: 1.302vw;
  }
  
  .bx-plus{
    position: absolute;
    display: flex;
    align-items: center;
    right: 11vw;
    font-size: 5.167vw;
color: #271845;
z-index: 123;
  }
  .logo_in_footer{
    width: 9.635vw;
height: 3.333vw;
  }






  .footer{
    width: 90%;
margin-top: 5.208vw !important;
border-radius: 3.542vw;
background: #331644;
display: flex;
padding:3.083vw;
gap: 4.688vw;
margin: auto;
  }
  .a_href_in_footer{
    display: flex;
    align-items: center;
    gap: 1.354vw;
    margin-top: 1.563vw;
    margin-bottom: 1.563vw;
  }
  .text_into_a_href{
    text-decoration: none;
    color: #FFF;
font-family: 'PT Sans Caption', sans-serif;
font-size: 1.667vw;
font-style: normal;
font-weight: 700;
line-height: normal;
  }
  .img_into_footer{
    display: flex;
    align-items: center;
    gap: 1.302vw;
  }
  .img_into_footer{
    text-decoration: none;
    list-style: none;
}
  .div_kishkina_into_footer2{
    display: block;
    margin: auto;
  }
  .footer_text{
    color: rgba(255, 255, 255, 0.50);
font-family: 'PT Sans Caption', sans-serif;
font-size: 1.667vw;
font-style: normal;
font-weight: 700;
line-height: 1.563vw;
margin-bottom: 0px;
  }
  .img_in_footer{
    width: 2.396vw;
height: 2.396vw;
  }
  .futer_text{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.50);
  }
  .accordion-header{
    margin-bottom: -1px !important ;
}
.accordion-item{
    width: 80% !important;
    margin: auto;
}
.accordion-button{
    width: 100% !important;
}
.accordion-body{
    font-size: 1vw;
}









