@font-face {
    font-family: "SignPainter";
    src: url("./fonts/signpainter_housescript.otf") format("truetype");
    /* Другие свойства шрифта, такие как font-weight и font-style */
}

@font-face {
    font-family: "AGOpusHighResolution";
    src: url("./fonts/agopushighresolution_boldoblique.ttf") format("truetype");
    /* Другие свойства шрифта, такие как font-weight и font-style */
}
*{
    padding: 0;
    margin: 0;
}


.page7_header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    background: #F8F8F8;
    padding-top: 4.688vw;
    padding-bottom: 10.417vw;
}
.page7_calendar_img{
    width: 50.677vw;
height: 33.802vw;
}
.calendar_name{
    color: #271845;
    text-align: center;
    font-family: "SignPainter", sans-serif;
    font-size: 7.2vw;
    font-style: normal;
    font-weight: 400;
    line-height: 6vw;
}
.calendar_text{
    color: #271845;
    text-align: center;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 2vw;
    font-style: normal;
    font-weight: 700;
}
.calendar_btn{
    width: 22.760vw;
    height: 4.740vw;
    margin-top: 3.125vw;   
    border-radius: 1.510vw;
    border: none;
    background: #FDBA1A;
    color: #271845;
    text-align: center;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 1.667vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}

.page7_schedule_h1{
    font-family: "SignPainter", sans-serif;
    color: #220A2E;
    text-align: center;
    margin-top: 50px;
    font-size: 5.208vw;
    font-weight: 400;
    margin-bottom: 30px;
}


.page7_schedule_div_kotta{
    background-color: #F5F2ED;
    width: 90%;
    padding: 20px;
    margin: auto;
    /* margin-left: 4%; */
    border-radius: 50px;
}
.page7_schedule_div_info{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #F5F2ED;
    padding: 10px;
    border-radius: 20px;
    margin-top: 30px;
}
.forflex_page7_schedule{
display: flex;
justify-content: space-around;
}
.page7_schedule{
    background-color: #fff;
}

.page7_schedule_select:active{
border: none;
}

.page7_schedule_select{
    background-color: #E1E1E1 !important;
    width: 280px;
    height: 40px;
    border-radius: 15px;
    color: #271845;
    font-size: 20px;
    border: none;
    padding: 5px;
    -webkit-appearance: none;
    background: url("./Polygon\ 6.png") no-repeat right white;
    background-size: 15px;
    font-weight: 600;
    font-family: 'Jost', sans-serif;
  } 
  .fors_select{
    width: 300px;
    background-color: #E1E1E1;
    border-radius: 15px;
    margin-top: 10px;
    padding: 5px;
  }

.page7_schedule_option{
    color: #220A2E !important;
    font-weight: 600;
    font-family: 'Jost', sans-serif;
}
.page7_schedule_div_kichik{
    margin-top: 20px;
    width: 330px;
}
.page7_schedule_div_kichik_text{
  font-family: 'Jost', sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #271845;
}

.but_page7_schedule{
  background-color: #F5F2ED;
    color: #FDBA1A;
    border-radius: 25px;
    border: 1px solid #FDBA1A;
    height: 50px;
    width: 300px;
    font-size: 20px;
    margin-bottom: 30px;
}
.page7_schedule_button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}


  @media (max-width:755px) {
  .page7_schedule_div_kichik_text{
    text-align: center;
}
.page7_schedule_select{
  width: 95% !important;
  margin: auto;
}
.fors_select{
  width: 100%;
}
.page7_schedule_div_kichik{
  width: 90%;
}
}

@media (max-width:500px) {
    .calendar_name{
        font-size: 8.5vw;
        line-height: 7vw;
    }
    .page7_schedule_select{
      width: 100%;
    }
    .calendar_text{
      margin-top: 2vw;
        font-size: 2.600vw;
    }
    .page7_aside{
        text-align: center;
    }
    .page7_schedule_h1{
        font-size: 8vw;
    }
    .calendar_btn{
      width: 30vw;
      height: 6vw;
      font-size: 2.400vw;
      border-radius: 2vw;
    }
    .page7_schedule_div_kotta{
      width: 80% ;
      border-radius: 6vw;
    }
    .page7_calendar_img{
      width: 55%;
      height: auto;
    }
}
@media (max-width:425px) {
  .page7_schedule_div_kichik_text{
    text-align: center;
}
.page7_schedule_select{
  width: 95% !important;
  margin: auto;
}
.fors_select{
  width: 100%;
}
.page7_schedule_div_kichik{
  width: 100%;
  margin: auto;
}
.but_page7_schedule{
    font-size: 18px;
    height: 40px;
}
}


.img_upcoming_events{
    position: absolute;
    left: -100px;
    margin-top: -50px;
  }
  
  .img_upcoming_events2{
    position: absolute;
    right: 0px;
    margin-top: -200px;
  }
  
  .img_upcoming_events3{
    position: absolute;
    left: 0;
    margin-top: 250px;
  }
  
  .new_event_big_div{
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
  }
  
  .events{
    width: 95%;
    margin-left: 2.5%;
    display: flex;
    align-items: start;
    justify-content: space-around;
    gap: 10px;
  }
  
  .for_block_events{
    width: 50%;
    z-index: 99999;
  }
  
  .first_event{
    width: 100%;
    background: url("./media/image/1\ 1.png");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 335px;
    border-radius: 70px;
    display: flex;
    justify-content: space-around;
  }
  .block_button_text{
    display: block;
    text-align: center;
  }
  .img_in_event{
    width: 40px;
    margin-top: 30px;
  }
  .sentyabr_event{
    font-size: 1.3vw;
    font-weight:600;
    margin-top: 20px;
    color: #271845;
  }
  
  .button_events{
    font-size: 1.302vw;
    height: 70px;
    width: 268px;
    color: #271845;
    border-radius: 50px;
    border: none;
    background-color: #fff;
    margin-top: 80px;
  }
  
  .text_event{
    font-size: 2.5vw;
    font-family: "SignPainter", sans-serif;
    font-weight: 600 !important;
    color: #271845;
    margin-top: 220px;
  }
  
  .second_event{
    width: 100%;
    background: url("./media/image/2\ 1.png");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 335px;
    border-radius: 70px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
  }
  
  .thrird_event{
    width: 100%;
    background: url("./media/image/3\ 1.png");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 335px;
    border-radius: 70px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
  }
  
  @media (max-width:2668px) {
    .first_event{
      width: 100%;
      background: url("./media/image/1\ 1.png");
      background-size: cover;
      background-repeat: no-repeat;
      min-height: 400px !important;
      border-radius: 70px;
      display: flex;
      justify-content: space-around;
    }
    .second_event{
      width: 100%;
      background: url("./media/image/2\ 1.png");
      background-size: cover;
      background-repeat: no-repeat;
      min-height: 400px !important;
      border-radius: 70px;
      margin-top: 20px;
      display: flex;
      justify-content: space-around;
    }
    
    .thrird_event{
      width: 100%;
      background: url("./media/image/3\ 1.png");
      background-size: cover;
      background-repeat: no-repeat;
      min-height: 400px !important;
      border-radius: 70px;
      margin-top: 20px;
      display: flex;
      justify-content: space-around;
    }
  }
  
  
  @media (max-width:1700px) {
    .first_event{
      width: 100%;
      background: url("./media/image/1\ 1.png");
      background-size: cover;
      background-repeat: no-repeat;
      min-height: 350px !important;
      border-radius: 70px;
      display: flex;
      justify-content: space-around;
    }
    .second_event{
      width: 100%;
      background: url("./media/image/2\ 1.png");
      background-size: cover;
      background-repeat: no-repeat;
      min-height: 350px !important;
      border-radius: 70px;
      margin-top: 20px;
      display: flex;
      justify-content: space-around;
    }
    
    .thrird_event{
      width: 100%;
      background: url("./media/image/3\ 1.png");
      background-size: cover;
      background-repeat: no-repeat;
      min-height: 350px !important;
      border-radius: 70px;
      margin-top: 20px;
      display: flex;
      justify-content: space-around;
    }
    .text_event{
      margin-top: 230px;
    }
  }
  
  @media (max-width:1500px) {
    .first_event{
      width: 100%;
      background: url("./media/image/1\ 1.png");
      background-size: cover;
      background-repeat: no-repeat;
      min-height: 320px !important;
      border-radius: 70px;
      display: flex;
      justify-content: space-around;
    }
    .second_event{
      width: 100%;
      background: url("./media/image/2\ 1.png");
      background-size: cover;
      background-repeat: no-repeat;
      min-height: 320px !important;
      border-radius: 70px;
      margin-top: 20px;
      display: flex;
      justify-content: space-around;
    }
    
    .thrird_event{
      width: 100%;
      background: url("./media/image/3\ 1.png");
      background-size: cover;
      background-repeat: no-repeat;
      min-height: 320px !important;
      border-radius: 70px;
      margin-top: 20px;
      display: flex;
      justify-content: space-around;
    }
    .button_events{
      font-size: 1.302vw;
      height: 50px !important;
      width: 200px !important;
      color: #271845;
      border-radius: 50px;
      border: none;
      background-color: #fff;
      margin-top: 60px;
    }
    .text_event{
      margin-top: 220px;
    }
  }
  @media (max-width:1000px) {
    .new_event_big_div{
      margin-left: 0px !important;
      margin-right: 0px !important;
    }
    .img_upcoming_events3, .img_upcoming_events2, .img_upcoming_events{
      display: none;
    }
    .events{
      display: block;
    }
    .for_block_events{
      width: 100%;
      margin-left: 0%;
    }
    .text_event{
      font-size: 5vw;
    }
    .sentyabr_event{
      font-size: 2vw;
    }
  
  
    .for_calendar_block{
      width: 90% !important;
      margin-left: 5% !important;
      margin-top: 30px;
      padding: 0px !important;
    }
    
  .big_div_calendar{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
  }
  }
  
  @media (max-width:800px) {
    .button_events{
      font-size: 1.302vw;
      height: 40px !important;
      width: 150px !important;
      color: #271845;
      border-radius: 50px;
      border: none;
      background-color: #fff;
      margin-top: 80px;
    }
  }
  
  .product_h111{
    font-family: "SignPainter", sans-serif;
    color: #220a2e;
    text-align: center;
    font-size: 4.167vw;
    font-weight: 400 !important;
  }
  
  .big_div_calendar{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }
  
  
  .for_calendar_block{
    background-color: #F5F2ED;
    width:40%;
    border-radius: 70px;
    padding: 30px;
    z-index: 99999;
  }
  
  .calendar_block_lineh{
    display: block;
    text-align: center;
  }
  
  .img_calendar_div{
    margin-top: 15px;
  }
  
  .line_height_calendar_div{
    margin-top: 20px;
  }
  
  .text_calendar_div{
    display: flex;
    align-items: start;
    gap: 20px;
  }
  
  
  .text_calendar1{
  font-size: 1.563vw;
  color: #CAC2DA;
  }
  
  .text_calendar2{
    font-size: 2.083vw;
    color: #271845;
  }
  @media (max-width:2668px) {
    .button_calendar{
      width: 330px !important;
      height: 100px !important;
      font-size: 1.563vw;
      color: #fdba1a;
      border: 1px solid #fdba1a;
      border-radius: 50px;
    }
  }
  @media (max-width:2000px) {
    .button_calendar{
      width: 268px !important;
      height: 70px !important;
      font-size: 1.563vw;
      color: #fdba1a;
      border: 1px solid #fdba1a;
      border-radius: 50px;
    }
  }
  @media (max-width: 1700px) {
    .button_calendar_center{
      width: 400px !important;
      height: 80px !important;
      font-size: 1.563vw;
      color: #fdba1a;
      border: 1px solid #fdba1a;
      border-radius: 50px;
    }
  }
  @media (max-width:1300px) {
    .button_calendar{
      width: 200px !important;
      height: 50px !important;
      font-size: 1.563vw;
      color: #fdba1a;
      border: 1px solid #fdba1a;
      border-radius: 50px;
    }
  }
  @media (max-width:1150px) {
    .button_calendar{
      width: 150px !important;
      height: 50px !important;
      font-size: 1.563vw;
      color: #fdba1a;
      border: 1px solid #fdba1a;
      border-radius: 50px;
    }
    .button_calendar_center{
      width: 300px !important;
      height: 50px !important;
      font-size: 1.563vw;
      color: #fdba1a;
      border: 1px solid #fdba1a;
      border-radius: 50px;
    }
  }
  
  .button_calendar{
    width: 268px;
    height: 70px;
    font-size: 1.563vw;
    color: #fdba1a;
    border: 1px solid #fdba1a;
    border-radius: 50px;
  }
  
  .button_calendar_center_div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }
  
  .button_calendar_center{
    color: #271845;
    background-color: #fdba1a !important;
    border-radius: 29px;
    border: none;
    width: 400px;
    height: 80px;
  }   
  @media (max-width:650px) {
    .button_calendar_center{
        font-size: 12px !important;
    }
  }  
  .product_h1{
    font-weight: 400;
  }