@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
*{
    padding: 0;
    margin: 0;
}

#body{
    background: #fff !important;
}

.main_otziv_name2{
    color: #000;
    text-align: center;
    font-family: 'Bad Script', cursive;
    font-size: 7.292vw;
    font-style: normal;
    font-weight: 400;
    margin-top: 1vw;
    margin-bottom: -2vw;
}
.main_swipers2{
    padding-top: 1vw;
    background: url("./media/image/Слой\ 1\ 4.png");
    background-repeat: no-repeat;
    background-size: cover;
    user-select: none;
}
.header_page3_otziv{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
.header_otziv2_img{
    width: 70.781vw;
height: 36.771vw;
margin-top: 3.646vw;
margin-left: -5.208vw;
}
.page3_name{
    color: #271845;
text-align: center;
font-family: 'Bad Script', cursive;
font-size: 4.208vw;
font-style: normal;
font-weight: 400;
line-height: 6.208vw;
}
.page3_buttons_filter{
    width: 85%;
margin: auto;
margin-top: 10.417vw;
margin-bottom: 3.125vw;
padding: 2.604vw;
padding-left: 0px;
border-radius: 4.010vw;
background: #F5F2ED;
}
.page3_btn_text{
    width: 17.813vw;
height: 4.010vw;
margin-left: 1.563vw;
border-radius: 1.563vw;
border: 0.104vw solid #E1E1E1;
background: #F5F2ED;
color: #271845;
text-align: center;
font-family: 'PT Sans Caption', sans-serif;
font-size: 1.583vw;
font-style: normal;
font-weight: 700;
transition: all .3s ease;
cursor: pointer;
}
.page3_btn_text:hover{
    color: #fff;
    background: #FDBA1A;
}
.page3_btns{
height: 4.010vw;
padding-inline: 1.5vw;
margin-top: 2.083vw;
margin-left: 1.563vw;
border: none;
color: #271845;
text-align: center;
font-family: 'PT Sans Caption', sans-serif;
font-size: 1.583vw;
border-radius: 1.563vw;
background: #E1E1E1;
cursor: pointer;
}
.textoviye_otzv{
    color: #271845;
    text-align: center;
    font-family: 'Bad Script', cursive;
    font-size: 4.208vw;
    font-style: normal;
    font-weight: 400;
    line-height: 6.208vw;
    margin-bottom: 1.563vw;
}
@media (max-width:500px) {
    .textoviye_otzv{
        margin-top: 28px;
        font-size: 30px;
    }
}










.header_page3_molochniy{
    padding-top: 0.521vw;
    padding-bottom: 1.521vw;
    background-color: #FFF7EE;

}
.probudijenwinu_text{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 4.688vw;
    color: #220A2E;
font-family: 'Bad Script', cursive;
font-size: 6vw;
font-style: normal;
font-weight: 400;
line-height: 5.208vw;
}
.header_page3_probudijenwinu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5.208vw;
}
.duwa_jenwini_img{
    width: 45.354vw;
height: 45.146vw;
margin-left: 3vw;
margin-top: 5.208vw;
}
.duwa_jenwini_df{
    text-align: center;
}
.text_duwa{
    color: #271845;
text-align: center;
font-family: 'PT Sans Caption', sans-serif;
font-size: 1.667vw;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.name_duwa{
    margin-top: 1.563vw;
    color: #FDBA1A;
    text-align: center;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 2vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.inp_name{
    width: 39.688vw;
height: 5.208vw;
margin-top: 3.125vw;
border-radius: 1.302vw;
padding-inline: 1.042vw;
border: 0.260vw solid #E1E1E1;
background: #FFF;
color: #271845;
font-family: 'PT Sans Caption', sans-serif;
font-size: 1.667vw;
font-style: normal;
font-weight: 700;
line-height: normal;
outline: none;
}
.inp_number{
    width: 39.688vw;
    height: 5.208vw;
    margin-top: 1.563vw;
    border-radius: 1.302vw;
    padding-inline: 1.042vw;
    border: 0.260vw solid #E1E1E1;
    background: #FFF;
    color: #271845;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 1.667vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    outline: none;
}
.btn_duwa{
    width: 24.115vw;
height: 4.740vw;
margin-top: 4.688vw;
border-radius: 1.510vw;
background: #FDBA1A;
border: none;
color: #271845 !important;
text-align: center;
font-family: 'PT Sans Caption', sans-serif;
font-size: 1.367vw;
font-style: normal;
font-weight: 700;
line-height: normal;
cursor: pointer;
}

.swiper-pagination-horizontal{
    display: none;
}
.swiper-slide-active{
/* height: 38.458vw !important; */
    opacity: 1 !important;
    scale: 0.8 !important;
    margin: auto;
    text-align: center;
}
.swiper-button-next , .swiper-button-prev{
    color: #FDBA1A !important; 
}
.swiper-slide{
    scale: 0.7;
    /* height: 34.458vw !important; */
    opacity: 0.5;
}
@media (max-width:500px) {
    .probudijenwinu_text {
        margin-top: 50px;
        font-size: 35px;
        line-height: 40px;
    }
    .duwa_jenwini_img{
        display: none;
    }
    .duwa_jenwini_df{
        margin-top: 30px;
        display: block;
    }
    .text_duwa{
        font-size: 14px;
    }
    .name_duwa{
        margin-top: 30px;
        font-size: 20px;
    }
    .inp_name{
        width: 90%;
        height: 40px;
        margin-top: 30px;
        padding-inline: 10px;
        border-radius: 10px;
        font-size: 12px;
    }
    .inp_number{
        width: 90%;
        height: 40px;
        margin-top: 15px;
        padding-inline: 10px;
        border-radius: 10px;
        font-size: 12px;
    }
    .btn_duwa{
        width: 95%;
        height: 40px;
        border-radius: 10px;
        font-size: 14px;
    }
}






.page3_swipers{
    position: relative;
    text-align: center;
    padding-bottom: 50px;
}
.main_stars1{
    width: 20.365vw;
height: 17.240vw;
    position: absolute;
    top: 20px;
    right: 0px;
}
.main_stars2{
    width: 33.365vw;
height: 17.240vw;
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.main_otziv_name{
    color: #fff;
    text-align: center;
    font-family: 'Bad Script', cursive;
    font-size: 7.292vw;
    font-style: normal;
    font-weight: 400;
    margin-top: 1vw;
    margin-bottom: -2vw;
}
.swiper-pagination-horizontal{
    display: none;
}
.swiper-slide-active{
    opacity: 1 !important;
    scale: 0.8 !important;
    margin: auto;
    text-align: center;
}
.swiper-button-next , .swiper-button-prev{
    color: #FDBA1A !important; 
}
.swiper-slide{
    scale: 0.7;
    opacity: 0.5;
}
.page3_swipers .swiper-wrapper{
    height: 700px !important;
}

.header_otziv{
    padding-top: 2.604vw;
    padding-bottom: 2.604vw;
    background: #220A2E;
    position: relative;
}
.otziv_name{
    color: #FFF;
text-align: center;
font-family: 'Bad Script', cursive;
font-size: 6vw;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.swiper-container{
    width: 100%;
}
.otziv_star_img_one{
    position: absolute;
    top: 7.813vw;
    right: 0px;
}
.otziv_star_img_two{
    position: absolute;
    bottom: 0px;
}
.otziv_btn{
    width: 22.760vw;
height: 4.740vw;
margin-top: 4.688vw;
border-radius: 1.510vw;
background: #FDBA1A;
border: none;
color: #271845;
font-family: 'PT Sans Caption', sans-serif;
font-size: 1.5vw;
font-style: normal;
font-weight: 700;
line-height: normal;
cursor: pointer;
}

@media (max-width:800px) {
    .swiper-slide img{
        scale: 0.7;
    }
   .page3_swipers .swiper-wrapper{
        height: 500px !important;
    }
    .swiper-slide-active{
            opacity: 1 !important;
            scale: 0.8 !important;
            margin: auto;
            text-align: center;
        }
        .swiper-slide{
            scale: 0.5;
            opacity: 0.5;
        }
        .accordion-body{
            font-size: 1.667vw;
        }
}
@media (max-width:500px) {
    .swiper-slide-active{
            opacity: 1 !important;
            scale: 0.5 !important;
            margin: auto;
            text-align: center;
        }
        .swiper-slide{
            scale: 0.4;
            opacity: 0.5;
        }
        .swiper-wrapper{
            margin-top: -100px;
            margin-bottom: -100px;
        }
        .main_otziv_name {
            font-size: 46px;
        }
        .page3_swipers .swiper-slide img{
            scale: .4;
        }
}








.footer{
    width: 90%;
margin-top: 5.208vw !important;
border-radius: 3.542vw;
background: #331644;
display: flex;
padding:3.083vw;
gap: 4.688vw;
margin: auto;
  }
  .a_href_in_footer{
    display: flex;
    align-items: center;
    gap: 1.354vw;
    margin-top: 1.563vw;
    margin-bottom: 1.563vw;
  }
  .text_into_a_href{
    text-decoration: none;
    color: #FFF;
font-family: 'PT Sans Caption', sans-serif;
font-size: 1.667vw;
font-style: normal;
font-weight: 700;
line-height: normal;
  }
  .img_into_footer{
    display: flex;
    align-items: center;
    gap: 1.302vw;
  }
  .img_into_footer{
    text-decoration: none;
    list-style: none;
}
  .div_kishkina_into_footer2{
    display: block;
    margin: auto;
  }
  .footer_text{
    color: rgba(255, 255, 255, 0.50);
font-family: 'PT Sans Caption', sans-serif;
font-size: 1.667vw;
font-style: normal;
font-weight: 700;
line-height: 1.563vw;
  }
  .img_in_footer{
    width: 2.396vw;
height: 2.396vw;
  }
  .futer_text{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.50);
  }