@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
*{
    padding: 0;
    margin: 0;
}

*, ::after, ::before {
  box-sizing: content-box !important;
}



.statya_header{
    background: #F8F8F8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.statya_db{
    margin: auto;
    text-align: center;
}
.statya_img{
    width: 47.135vw;
height: 42.396vw;
margin-left: 5.208vw;
}
.statya_name{
    color: #271845;
    text-align: center;
    font-family: 'Bad Script', cursive;
    font-size: 5vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.statya_text{
    color: #271845;
text-align: center;
font-family: 'PT Sans Caption', sans-serif;
font-size: 2.500vw;
font-style: normal;
font-weight: 700;
}
.statya_btn_glavniy{
    width: 22.760vw;
    height: 4.740vw;
    margin-top: 3.125vw;   
    border-radius: 1.510vw;
    border: none;
    background: #FDBA1A;
    color: #271845;
    text-align: center;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 1.667vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}







.statya_big{
    background: #F8F8F8;
    padding-top: 3.125vw;
    padding-bottom: 5vw;
}
.statya_btns{
    width: 80%;
    border-radius: 4.010vw;
background: #F5F2ED;
    padding: 2.083vw;
    padding-left: 0px;
    margin: auto;
}
.glavni_btn_statya{
    width: 19.844vw;
height: 4.010vw;
margin-left: 2.083vw;
border-radius: 1.563vw;
background: #FDBA1A;
border: none;
color: #FFF;
text-align: center;
font-family: 'PT Sans Caption', sans-serif;
font-size: 2.083vw;
font-style: normal;
font-weight: 700;
}
.statya_btn{
height: 4.010vw;
padding-inline: 1.302vw;
border-radius: 1.563vw;
border: none;
margin-left: 2.083vw;
margin-top: 1.563vw;
background: #E1E1E1;
color: #271845;
text-align: center;
font-family: 'PT Sans Caption', sans-serif;
font-size: 2.083vw;
font-style: normal;
font-weight: 700;
}





.statya_cards{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
    margin-top: 5.208vw;
}
.statya_card{
    width: 25.073vw;
text-align: center;
margin: auto;
margin-top: 2.604vw;
border-radius: 2.604vw;
border: 0.260vw solid #F5F2ED;
padding: 1.302vw;
}
.statya_card_img{
    width: 100%;
    margin-bottom: 1.563vw;
}
.statya_card_text{
    color: #271845;
text-align: center;
font-family: 'PT Sans Caption', sans-serif;
font-size: 1.667vw;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 0.521vw;
}
.statya_card_btn{
    width: 11.719vw;
height: 3.281vw;
border-radius: 0.781vw;
background: #FDBA1A;
color: #271845;
text-align: center;
font-family: 'PT Sans Caption', sans-serif;
font-size: 1.667vw;
font-style: normal;
font-weight: 700;
line-height: normal;
border: none;

}
.accordion-button{
  box-sizing: border-box !important;
}
.collapsed{
  box-sizing: border-box !important;
}








.product_h2{
    font-family: 'Bad Script', cursive;
    color: #fff;
    text-align: center;
    /* margin-top: 2.604vw; */
    font-size: 4.167vw;
    z-index: 99999;
  }

  .answer_to_question{
    background-color: #220A2E;
    /* margin-bottom: 2.604vw; */
    padding-top: 3vw;
    padding-bottom: 2.604vw;
    position: relative;
  }
  .sloy32{
    width: 20.365vw;
height: 17.240vw;
    position: absolute;
    top: 1.042vw;
    right: 0px;
}
.sloy35{
    width: 33.365vw;
height: 17.240vw;
    position: absolute;
    bottom: 18vw;
    left: 0px;
}
  .kichkina_div_question{
    background-color: #fff;
    margin-top: 1.042vw;
    width: 70%;
    margin-left: 15%;
    height: 1.563vw;
    border-radius: 1.042vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.042vw;
    z-index: 123;

  }
  .text_question{
    color: #220A2E;
    font-size: 1.302vw;
  }


  .text_center_question{
    text-align: center;
    color: #fff;
    font-size: 1.667vw;
    margin-top: 2.563vw;
font-family: 'PT Sans Caption', sans-serif;

  }
  .but_ostavit_zayav{
    width: 22.760vw;
    height: 4.740vw;
    margin-top: 3.125vw;   
    border-radius: 1.510vw;
    border: none;
    background: #FDBA1A;
    color: #271845;
    text-align: center;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 1.667vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
  }
  .div_for_button_in_question{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .kichkinaro_div_question{
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 1.042vw;
  }
  .accordion-item h2{
    background-color: #220A2E;;
    
  }

 .accordion-item button{
    width: 70.573vw;
    height: 5vw;
    position: relative;
    margin-top: 30px !important;
    border-radius: 1.042vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding-left: 1.042vw;
    padding-right: 4.5vw;
    z-index: 123;
    outline: none;
    border-radius: 1.302vw !important;
border: 0.260vw solid #E1E1E1;
background: #FFF;
color: #271845;
font-family: 'PT Sans Caption', sans-serif;
font-size: 1.667vw;
font-style: normal;
font-weight: 700;
line-height: normal;

  }
  .accordion-body{
    /* width: 65.573vw;  */
    padding: 20px;
    /* display: flex; */
    /* align-items: center; */
    margin: auto;
    border-bottom-left-radius: 1.302vw;
    border-bottom-right-radius: 1.302vw;
  }
  
  .bx-plus{
    position: absolute;
    display: flex;
    align-items: center;
    right: 11vw;
    font-size: 5.167vw;
color: #271845;
z-index: 123;
  }
  .logo_in_footer{
    width: 9.635vw;
height: 3.333vw;
  }
  .accordion-item{
    width: 80% !important;
    margin: auto;
}
.accordion-button{
    width: 100% !important;
}
.accordion-header{
    margin-bottom: -1px !important ;
}






  .footer{
    width: 90%;
margin-top: 5.208vw !important;
border-radius: 3.542vw;
background: #331644;
display: flex;
padding:3.083vw;
gap: 4.688vw;
margin: auto;
  }
  .a_href_in_footer{
    display: flex;
    align-items: center;
    gap: 1.354vw;
    margin-top: 1.563vw;
    margin-bottom: 1.563vw;
  }
  .text_into_a_href{
    text-decoration: none;
    color: #FFF;
font-family: 'PT Sans Caption', sans-serif;
font-size: 1.667vw;
font-style: normal;
font-weight: 700;
line-height: normal;
  }
  .img_into_footer{
    display: flex;
    align-items: center;
    gap: 1.302vw;
    text-decoration: none;
    list-style: none;
  }
  .div_kishkina_into_footer2{
    display: block;
    margin: auto;
  }
  .footer_text{
    color: rgba(255, 255, 255, 0.50);
font-family: 'PT Sans Caption', sans-serif;
font-size: 1.667vw;
font-style: normal;
font-weight: 700;
line-height: 1.563vw;
margin-bottom: 0px;
  }
  .img_in_footer{
    width: 2.396vw;
height: 2.396vw;
  }
  .futer_text{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.50);
  }