@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
*{
    padding: 0;
    margin: 0;
}





/* navbar */
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(51, 22, 68, 1);
    height: 100px;

}
.navbar .nav-link{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar .form{
    display: flex;
    justify-content: space-around;
}
.navbar .nav-link,.form{
list-style: none;
}

.navbar ul{
    gap: 30px;
}
.navbar li{
    font-family: 'PT Sans Caption', sans-serif;
   font-size: 1.5vw;
font-weight: 700;
line-height: 38px;
letter-spacing: 0em;
text-align: right;
color: rgba(255, 255, 255, 1);

}
.navbar a{
    text-decoration: none;
}
.navbar .logo{
    width: 10%;
    min-width: 100px;
}
.navbar .bot{
    width: 2.5vw;
}
.navbar .bot1{
    width: 30px;
}
.navbar .toggle{
    display: none;
}
.navbar .close_toggle{
    position: absolute;
    right: 30px;
    top: 30px;
    color: white;
    font-size: 30px;
    font-family:monospace;
}
.navbar .media_toggle{
    width: 320px;
    background: rgba(51, 22, 68, 1);
    padding-top: 10vh;
  position: fixed;
    top: 0px;
    right: -320px;
    min-height: 90vh;
    display: none; 
    transition: 0.4s;
}
.navbar .media_toggle li{
    list-style: none;
    text-align: center;

}
.navbar .media_link{
    display: flex;  
    justify-content: center;
    gap: 5px;
  
}

@media(max-width:550px){
    .form,.nav-link{
    display: none !important;
}
.navbar .media_toggle{
    display: block;
}
.navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.navbar .toggle{

    display: flex;
margin-right: 30px;
font-size: 23px;
color: white;
cursor: pointer;
}
.navbar img{
    margin-left: 30px !important;
    width: 30px;
}
.navbar .close_toggle{
    cursor: pointer;
}
.navbar li{
   font-size: 15px;
}
}




/* header glavniy */
.header_glavniy {
display: flex;
align-items: flex-end;

background: rgba(146, 67, 247, 1);
/* min-height: 900px; */
max-height: 800px;
position: relative;
z-index: -1;
/* padding-top: 100px; */
justify-content: space-between;
}
.header_glavniy .glavniy_img{
    height: 100%;
    max-width: 65%;
}
.header_glavniy .glavniy_text {
    font-family: 'Bad Script', cursive;
    font-size: 4vw;
    line-height: 6vw;
    letter-spacing: 10px;
    font-weight: 100;
    margin-right: 30px;
    padding-bottom: 30px;
    text-align: right;
    user-select: none;
color: white;    
}
.header_button{
    font-family: 'PT Sans Caption', sans-serif;
font-size: 32px;
font-weight: 700;
/* line-height: 38px; */
letter-spacing: 0em;
/* text-align: right; */
color: rgba(39, 24, 69, 1);

    /* width: 437px; */
/* height: 91px; */
padding: 25px 40px;
border: none;
border-radius:15px;

background: rgba(253, 186, 26, 1);

}
@media (max-width:1400px){
  .header_button{
    padding: 10px 20px;
    font-size: 23px;
  }  
}
@media (max-width:972px){
    .header_button{
      padding: 4px 10px;
      font-size: 15px;
    }  
    .header_glavniy .glavniy_text{
        font-size: 12px;
    }
  }
  @media (max-width:643px){
    .header_button{
      padding: 4px 10px;
      font-size: 10px;
    }  
  }
  @media (max-width:477px){
    .header_button{
      padding: 4px 5px;
      font-size: 8px;
    }  
    .header_glavniy .glavniy_text{
        font-size: 8px;
    }
  }


.reklama_user{
display: flex;
justify-content: space-around;


}




