@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@700&display=swap');

*{
    padding: 0;
    margin: 0;
}





/* navbar */
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(51, 22, 68, 1);
    height: 100px;

}
.navbar .nav-link{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar .form{
    display: flex;
    justify-content: space-around;
}
.navbar .nav-link,.form{
list-style: none;
}

.navbar ul{
    gap: 10px;
}
.navbar li{
    font-family: 'PT Sans Caption', sans-serif;
   font-size: 1.5vw;
font-weight: 700;
line-height: 38px;
letter-spacing: 0em;
text-align: right;
color: rgba(255, 255, 255, 1);

}
.navbar a{
    text-decoration: none;
}
.navbar .logo{
    width: 10%;
    min-width: 100px;
}
.navbar .bot{
    width: 2.5vw;
}
.navbar .toggle{
    display: none;
}
.navbar .close_toggle{
    position: absolute;
    right: 30px;
    top: 30px;
    color: white;
    font-size: 30px;
    font-family:monospace;
}
.navbar .media_toggle{
    width: 320px;
    background: rgba(51, 22, 68, 1);
    padding-top: 10vh;
  position: fixed;
    top: 0px;
    right: -320px;
    min-height: 90vh;
    display: none; 
    transition: 0.4s;
}
.navbar .media_toggle li{
    list-style: none;
    text-align: center;

}
.navbar .media_link{
    display: flex;  
    justify-content: center;
    gap: 5px;
  
}

@media(max-width:550px){
    .form,.nav-link{
    display: none;
}
.navbar .media_toggle{
    display: block;
}
.navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.navbar .toggle{

    display: flex;
margin-right: 30px;
font-size: 23px;
color: white;
cursor: pointer;
}
.navbar img{
    margin-left: 30px !important;
    width: 30px;
}
.navbar .close_toggle{
    cursor: pointer;
}
.navbar li{
   font-size: 15px;
}
}




/* header glavniy */
.header_glavniy {
display: flex;
align-items: flex-end;
min-height: 900px;
}
.header_glavniy .glavniy_text {
    font-family: SignPainter;
    font-size: 128px;
    font-weight: 400;
    line-height: 124px;
    letter-spacing: 0em;
    text-align: right;
color: white;    
}
