@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
*{
    padding: 0;
    margin: 0;
}

body{
    background: #F5F2ED;
}



/* navbar */
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(51, 22, 68, 1);
    height: 100px;

}
.navbar .nav-link{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar .form{
    display: flex;
    justify-content: space-around;
}
.navbar .nav-link,.form{
list-style: none;
}

.navbar ul{
    gap: 30px;
}
.navbar li{
    font-family: 'PT Sans Caption', sans-serif;
   font-size: 1.5vw;
font-weight: 700;
line-height: 38px;
letter-spacing: 0em;
text-align: right;
color: rgba(255, 255, 255, 1);

}
.navbar a{
    text-decoration: none;
}
.navbar .logo{
    width: 10%;
    min-width: 100px;
}
.navbar .bot{
    width: 2.5vw;
}
.navbar .bot1{
    width: 30px;
}
.navbar .toggle{
    display: none;
}
.navbar .close_toggle{
    position: absolute;
    right: 30px;
    top: 30px;
    color: white;
    font-size: 30px;
    font-family:monospace;
}
.navbar .media_toggle{
    width: 320px;
    background: rgba(51, 22, 68, 1);
    padding-top: 10vh;
  position: fixed;
    top: 0px;
    right: -320px;
    min-height: 90vh;
    display: none; 
    transition: 0.4s;
}
.navbar .media_toggle li{
    list-style: none;
    text-align: center;

}
.navbar .media_link{
    display: flex;  
    justify-content: center;
    gap: 5px;
  
}

@media(max-width:550px){
    .form,.nav-link{
    display: none !important;
}
.navbar .media_toggle{
    display: block;
}
.navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.navbar .toggle{

    display: flex;
margin-right: 30px;
font-size: 23px;
color: white;
cursor: pointer;
}
.navbar img{
    margin-left: 30px !important;
    width: 30px;
}
.navbar .close_toggle{
    cursor: pointer;
}
.navbar li{
   font-size: 15px;
}
}




/* header glavniy */
.header_glavniy {
display: flex;
align-items: flex-end;

background: rgba(146, 67, 247, 1);
/* min-height: 900px; */
max-height: 800px;
position: relative;
z-index: -1;
/* padding-top: 100px; */
justify-content: space-between;
}
.header_glavniy .glavniy_img{
    height: 100%;
    max-width: 65%;
}
.header_glavniy .glavniy_text {
    font-family: 'Bad Script', cursive;
    font-size: 4vw;
    line-height: 6vw;
    letter-spacing: 10px;
    font-weight: 100;
    margin-right: 30px;
    padding-bottom: 30px;
    text-align: right;
    user-select: none;
color: white;    
}
.header_button{
    font-family: 'PT Sans Caption', sans-serif;
font-size: 32px;
font-weight: 700;
/* line-height: 38px; */
letter-spacing: 0em;
/* text-align: right; */
color: #220A2E;

    /* width: 437px; */
/* height: 91px; */
padding: 25px 40px;
border: none;
border-radius:15px;

background: #FDBA1A;
margin-top: 50px !important;
}
@media (max-width:1400px){
  .header_button{
    padding: 10px 20px;
    font-size: 23px;
  }  
}
@media (max-width:972px){
    .header_button{
      padding: 4px 10px;
      font-size: 15px;
    }  
    .header_glavniy .glavniy_text{
        font-size: 12px;
    }
  }
  @media (max-width:643px){
    .header_button{
      padding: 4px 10px;
      font-size: 10px;
    }  
  }
  @media (max-width:477px){
    .header_button{
      padding: 4px 5px;
      font-size: 8px;
    }  
    .header_glavniy .glavniy_text{
        font-size: 8px;
    }
  }


/* reklama joyi */

.reklama_user{
display: flex;
justify-content: space-around;
align-items: center;
flex-wrap: wrap;
background-color: #220A2E;
height: auto;
color: white;
width: 90%;
margin-left: 4%;
border-radius: 60px;
margin-top: 100px;
margin-bottom: 10px;
text-align: center;
padding: 20px;
}

.reklama_img{
    width: 250px;
}

.reklama_text1{
font-size: 30px;
width: 250px;
line-height: 57px;
}

.reklama_text2{
    font-size: 30px;
    width: 260px;
    line-height: 49px;
    }

.reklama_text3{
        font-size: 30px;
        width: 250px;
        line-height: 57px;
    }

     .reklama_card1{
            margin-top: 10px;
            width: 270px;
    }

    .reklama_card2{
        margin-top: -160px;
        width: 280px;
}

.reklama_card3{
    margin-top: 10px;
    width: 270px;
}

/* @media (max-width:1300px) {
    
.reklama_text1{
    font-size: 30px;
    width: 250px;
    }
    
    .reklama_text2{
        font-size: 30px;
        width: 260px;
        line-height: 49px;
        text-align: center;
        }
    
    .reklama_text3{
            font-size: 30px;
            width: 250px;
        }
        .reklama_img{
            width: 250px;
        }        
}
@media (max-width: 950px) {
    .reklama_text1{
        font-size: 48px;
        width: 367px;
        line-height: 57px;
        }
        
        .reklama_text2{
            font-size: 48px;
            width: 425px;
            line-height: 49px;
            }
        
        .reklama_text3{
                font-size: 48px;
                width: 367px;
                line-height: 57px;
            }
            .reklama_card2{
                margin-top: 20px;
        }
        .reklama_card3{
            margin-top: 20px;
        }
        .reklama_card1{
            margin-top: 20px;
        }
    } */
    
    @media (max-width: 911px) {
        .reklama_card2{
            margin-top: 20px;
    }
    .reklama_card3{
        margin-top: 20px;
}
.reklama_card1{
    margin-top: 20px;
}
    }






/* about self */

.about_theirself{
    display: flex;
    justify-content: space-around;
    gap: 30px;
    align-items: center;
    margin-top: 50px;
    width: 80%;
    margin-left: 10%;
}

.about_self_text{
    color: #220A2E;
    font-size: 30px;
font-family: 'Jost', sans-serif;
font-family: 'Playfair Display', serif;
}

.about_self_text1{
    color: #220A2E;
    font-size: 30px;
font-family: 'Jost', sans-serif;
font-family: 'Playfair Display', serif;
    margin-top: 25px;
}

.about_self_text2{
    color: #220A2E;
    font-size: 30px;
font-family: 'Jost', sans-serif;
font-family: 'Playfair Display', serif;
    margin-top: 25px;
}

.about_self_text3{
    color: #220A2E;
    font-size: 30px;
font-family: 'Jost', sans-serif;
font-family: 'Playfair Display', serif;
    margin-top: 25px;
}


.img_self{
    width: 450px;
    border-radius: 69px;
}

.self_button{
    background: #FDBA1A ;
    width: 300px;
    height: 50px;
    border-radius: 15px;
    color: #220A2E;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border: none;
    font-family: 'Playfair Display', serif;
}

@media (max-width:1120px) {
    .about_self_text{
        color: #220A2E;
        font-size: 20px;
        font-family: 'Playfair Display', serif;
    }
    
    .about_self_text1{
        color: #220A2E;
        font-size: 20px;
        font-family: 'Playfair Display', serif;;
    }
    
    .about_self_text2{
        color: #220A2E;
        font-size: 20px;
        font-family: 'Playfair Display', serif;
    }
    
    .about_self_text3{
        color: #220A2E;
        font-size: 20px;
        font-family: 'Playfair Display', serif;
        margin-top: 20px;
    }
    .img_self{
        width: 350px;
        border-radius: 69px;
    }
    .self_button{
        background: #FDBA1A ;
        width: 200px;
        height: 40px;
        border-radius: 15px;
        color: #220A2E;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        border: none;
        font-family: 'Playfair Display', serif;
    }
    
}
@media (max-width:820px) {
    .img_self{
        width: 320px;
        border-radius: 69px;
    }
}

@media (max-width:782px) {
    .about_theirself{
        display: block;
        text-align: center;
    }
    .button_about_self_div{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .about_self_text{
        color: #220A2E;
        font-size: 30px;
    font-family: 'Jost', sans-serif;
    font-family: 'Playfair Display', serif;
    margin-top: 20px;
    }
    
    .about_self_text1{
        color: #220A2E;
        font-size: 30px;
    font-family: 'Jost', sans-serif;
    font-family: 'Playfair Display', serif;
        margin-top: 25px;
    }
    
    .about_self_text2{
        color: #220A2E;
        font-size: 30px;
    font-family: 'Jost', sans-serif;
    font-family: 'Playfair Display', serif;
        margin-top: 25px;
    }
    
    .about_self_text3{
        color: #220A2E;
        font-size: 30px;
    font-family: 'Jost', sans-serif;
    font-family: 'Playfair Display', serif;
        margin-top: 25px;
    }
    
    
    .img_self{
        width: 450px;
        border-radius: 69px;
    }
    
    .self_button{
        background: #FDBA1A ;
        width: 300px;
        height: 50px;
        border-radius: 15px;
        color: #220A2E;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        border: none;
        font-family: 'Playfair Display', serif;
    }
}



@media (max-width:782px) {
    .about_theirself{
        display: block;
        text-align: center;
    }
    .button_about_self_div{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .about_self_text{
        color: #220A2E;
        font-size: 20px;
    font-family: 'Jost', sans-serif;
    font-family: 'Playfair Display', serif;
    margin-top: 20px;
    }
    
    .about_self_text1{
        color: #220A2E;
        font-size: 20px;
    font-family: 'Jost', sans-serif;
    font-family: 'Playfair Display', serif;
        margin-top: 25px;
    }
    
    .about_self_text2{
        color: #220A2E;
        font-size: 20px;
    font-family: 'Jost', sans-serif;
    font-family: 'Playfair Display', serif;
        margin-top: 25px;
    }
    
    .about_self_text3{
        color: #220A2E;
        font-size: 20px;
    font-family: 'Jost', sans-serif;
    font-family: 'Playfair Display', serif;
        margin-top: 25px;
    }
    
    
    .img_self{
        width: 320px;
        border-radius: 69px;
    }
    
    .self_button{
        background: #FDBA1A ;
        width: 200px;
        height: 40px;
        border-radius: 15px;
        color: #220A2E;
        font-size: 13px;
    }
}

@media (max-width:350px) {
    .about_theirself{
        width: 90%;
        margin-left: 5%;
    }
    .img_self{
        width: 300px;
        border-radius: 69px;
    }
    
}

/* product page */

.product_h1{
    font-family: 'Bad Script', cursive;
    color: #220A2E;
    text-align: center;
    margin-top: 50px;
    font-size: 80px;
}

.text_in_small_product{
    color: #FDBA1A;
    font-family: 'Bad Script', cursive;
    font-size: 70px;
    line-height: 97px;
}
.product_page{
    background: #220A2E;
    width: 95%;
    border-radius: 35px;
    padding: 20px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 2%;
    overflow: hidden;
    margin-top: 50px;
}
.button_product{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}
.but_product{
    background-color: #fff;
    height: 70px;  
    width: 230px;
    border: none;
    border-radius: 15px;
    color: #220A2E;
    font-size: 25px;
    font-family: 'Noto Serif', serif;

}
.but2_product{
    background-color: #FDBA1A;
    height: 70px;  
    width: 230px;
    border: none;
    border-radius: 15px;
    color: #220A2E;
    font-size: 25px;
    font-family: 'Playfair Display', serif;
}
.product_kichkina{
    padding: 20px;
}
.text_in_product{
    color: #fff;
    font-size: 25px;
}
.text_in_product1{
    color: #fff;
    font-size: 25px;
    margin-top: 30px;
}
.moon_in_product{ 
       position: absolute;
    left: 48%;
    margin-top: -180px;
}
.star_in_product{
    margin-top: -180px;
    position: absolute;
    left: 48%;
}


.product_page1{
    background: #271845;
    width: 95%;
    border-radius: 35px;
    padding: 20px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 2% ;
    overflow: hidden;
    margin-top: 50px;
}
.text_in_product2{
    color: #fff;
    font-size: 25px;
}
.product_kichkina{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}
.for_ex_uchun{
    width: 45%;
}
.between_uchun{
    width: 45%;
}
.text_p_in_opisaniya{
    color: #FDBA1A;
    font-size: 38px;
    margin-top: 20px;
    line-height: 43px;
}
.text_in_product3{
    color: #FDBA1A;
    font-size: 25px;
}
.first_new_events{
    background: url("./media/image/1\ 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 700px;
    width: 100%;
}